*{box-sizing:border-box}
table{font-size:100%}
body{font-size:21px;font-family:STFangSong,Helvetica,Arial,Vernada,Tahoma,STXihei,"Microsoft YaHei","Songti SC",SimSun,Heiti,sans-serif}
body.mobile{font-size:32px}
.navbar-brand{font-size:100%}
.title{padding:15px 20px;cursor:pointer}
.title a{display:inline-block}
li.title:hover{background-color:#f8f8f8}
.panel{border-radius:0;font-size:100%}
.panel-default>.panel-heading{background-color:#fff;background-image:none;font-size:100%}
.navbar-default{position:fixed;z-index:999;padding:10px;width:100%;background-image:none;box-shadow:none;box-shadow:0 0 3px 1px rgba(0,0,0,.1);font-size:100%}
.navbar-nav.navbar-right:last-child{margin-right:-30px}
.main{padding-top:138px}
.mobile .main{padding-top:180px}
.ad{text-align:center}
.ad img{width:100%;max-width:960px}
body.mobile .navbar{padding:20px}
body.mobile #navbar-bs{margin-top:20px;padding-top:15px}
body.mobile .nav>li{padding:5px 0}
body.mobile .navbar-brand{font-size:36px}
body.mobile .navbar-nav{font-size:32px}
body.mobile div.outer{margin:2% 4%}
body.mobile .navbar-nav>li>a{line-height:40px}
body.mobile .navbar-default .navbar-toggle{transform:scale(1.3);transform-origin:right}
div.outer{margin:2% 10%}
.list-group{box-shadow:0 0 0 transparent}
div.date{color:#a9a9a9;font-size:80%}
div.word-count{float:right;color:#a9a9a9;line-height:100%}
@media screen and (max-width:860px){div.word-count{display:none}
}
.paginator{margin:4% 10% 4% 10%;text-align:right}
.paginator .extend,.paginator .page-number{padding:15px 20px;border:1px solid #ddd;cursor:pointer}
.paginator .extend:hover,.paginator .page-number:hover{background-color:#eee;font-size:100%}
.footer{margin-top:35px;margin-bottom:25px}
.oldblog{margin-top:35px;margin-bottom:45px}
#articleCounts{display:none}
@keyframes ldio-fwkeq5l2tj8{0%{top:96px;left:96px;width:0;height:0;opacity:1}
100%{top:18px;left:18px;width:156px;height:156px;opacity:0}
}
.ldio-fwkeq5l2tj8 div{position:absolute;border-style:solid;border-width:4px;border-radius:50%;opacity:1;animation:ldio-fwkeq5l2tj8 1s cubic-bezier(0,.2,.8,1) infinite}
.ldio-fwkeq5l2tj8 div:nth-child(1){border-color:#e90c59}
.ldio-fwkeq5l2tj8 div:nth-child(2){border-color:#46dff0;animation-delay:-.5s}
.loadingio-spinner-ripple-8txk08frrfa{display:inline-block;overflow:hidden;width:200px;height:200px;background:#fff}
.ldio-fwkeq5l2tj8{position:relative;width:100%;height:100%;transform:translateZ(0) scale(1);transform-origin:0 0;backface-visibility:hidden}
.ldio-fwkeq5l2tj8 div{box-sizing:content-box}
.micro-blog{font-size:18px;font-family:"lucida grande","lucida sans unicode",lucida,helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif}
.micro-blog p,.micro-blog ul,.mobile .micro-blog p,.mobile .micro-blog ul{display:block;line-height:1.8;margin-block-start:1em;margin-block-end:1em;margin-inline-start:0;margin-inline-end:0}
.micro-blog blockquote p,.micro-blog blockquote ul,.mobile .micro-blog blockquote p,.mobile .micro-blog blockquote ul{margin-block-start:0;margin-block-end:0}
.micro-blog blockquote{padding:0 1em;border-left:.25em solid #dfe2e5;color:#6a737d;margin-block-start:1em;margin-block-end:1em}
.mobile .micro-blog blockquote{font-size:90%}
.mobile .micro-blog div.outer{margin:40px 4% 2% 4%}
.mobile .micro-blog{font-size:32px}
.micro-blog .list-group-item{margin-bottom:40px;padding:0;border:1px solid #c0d3eb;border-radius:6px}
.micro-blog .list-group-item:after{position:absolute;top:0;bottom:-40px;left:15px;z-index:-1;display:block;width:2px;background-color:#e1e4e8;content:""}
.micro-blog .list-group-item .date{position:relative;padding:5px 20px;border-bottom:1px solid #c0d3eb;border-top-right-radius:6px;border-top-left-radius:6px;background-color:#f1f8ff;color:#000;font-size:100%}
.micro-blog .list-group-item .date a{position:absolute;right:20px}
.micro-blog .list-group-item .content{padding:0 20px}
.mobile .micro-blog .list-group-item .date{padding:10px 25px;border-bottom:1px solid #c0d3eb;border-top-right-radius:6px;border-top-left-radius:6px;background-color:#f1f8ff;color:#000;font-size:100%}
.mobile .micro-blog .list-group-item .content{padding:0 25px}
.micro-blog table tr{border-top:1px solid #c6cbd1;background-color:#fff}
.micro-blog table tr:nth-child(2n){background-color:#f6f8fa}
.micro-blog table td,.micro-blog table th{padding:6px 13px;border:1px solid #dfe2e5}
.micro-blog .ul-tabs{margin-bottom:40px}
.mobile .micro-blog .ul-tabs{margin-bottom:50px}
